<footer>
    <div id = "info">
        <img alt = "copyrights" src = "/images/copyrights.png" id = "copyrights">
        <p>2019-2020 ScoutScript. All Rights Reserved</p>
    </div>
</footer><!--FOOTER END-->