<header>
    <div id = "headers">
        <h1 id = "headerName"><%=name%></h1>
    </div>

    <div id = "personInfo">
        <img id = "person" alt = "face icon" src = "/images/photo_template_small.png">
        <p id = "logPerson">Jenna Doe</p>
        <img alt = "arrow" id = "arrow" src = "/images/narrow.png">
    </div>

</header><!--HEADER END-->
