<nav id = "leftNavigation">
    <div id = "leftPart">
        <div class = "logo">
            <a href="/main">
                <img class = "logoImg" src = "/images/lilijka_logo.png" alt = "ScoutScript logo">
            </a>
        </div><!--LEFTPART END-->

        <ul class = "navItems menu">
            <li class = "items">
                <a href = "/main">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Strona główna</span>
                </a>
            </li>
            <li class = "items">
                <a href = "/konspektLista">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Konspekty</span>
                </a>
            </li>
            <li class = "items">
                <a href = "/podsumowanieLista">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Podsumowania</span>
                </a>
            </li>
            <li class = "items">
                <a href = "/sprObecnosc">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Obecność</span>
                </a>
            </li>
            <li class = "items">
                <a href = "/wybierzObecnosci">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Oceny ind.</span>
                </a>
            </li>
            <li class = "items">
                <a href = "/cele">
                    <img alt = "pen" class = "pen" src = "/images/lilijka_plain.png">
                    <span>Cele</span>
                </a>
            </li>
        </ul>
    </div>
    <div id = "rightPart">
        <img alt = "hamburger icon" src = "/images/hamburger.png" id = "hamburgerIcon">

        <div id = "mobileIcons">
            <a href = "/main">
                <img alt = "home" class = "icoMobile" src = "/images/home.png" title = "Home">
            </a>
            <a href = "/konspektLista">
                <img alt = "konspekty" class = "icoMobile" src = "/images/konspekt/konspekt.png" title = "Konspekty">
            </a>
            <a href = "/podsumowanieLista">
                <img alt = "podsumowania" class = "icoMobile" src = "/images/podsumowanie/podsumowanie.png" title = "Podsumowania">
            </a>
            <a href = "/sprObecnosc">
                <img alt = "obecność" class = "icoMobile" src = "/images/obecnosc/obecnosc.png" title = "Obecność">
            </a>
            <a href = "/wybierzObecnosci">
                <img alt = "ocenaIndywidualna" class = "icoMobile" src = "/images/ocena/ocena.png" title = "Ocena indywidualna">
            </a>
            <a href = "/cele">
                <img alt = "cele" class = "icoMobile" src = "/images/cel/cel.png" title = "Cele">
            </a>
        </div>
    </div><!--RIGHTPART END-->
</nav><!--NAV END-->